* {
    font-family: 'Poppins', sans-serif;
}


/* Navbar */

.navbar {
    padding: 30px 0px;
}

.nav-link {
    color: #9094A2;
    margin-right: 15px;
}

.active {
    color: #83D987 !important;
    font-weight: 600;
}


/* Banner */

.banner {
    position: relative;
    color: white;
    background-color: #0F1837;
    padding-top: 200px;
    padding-bottom: 150px;
    background-image: url(/assets/img/Union.png);
    background-repeat: no-repeat;
}

.card-menu {
    position: relative;
    color: black;
    background-color: white;
    padding: 10px 10px;
    border-radius: 0.5em;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}

.img-banner {
    position: absolute;
    bottom: 0px;
    right: 300px;
    z-index: 0;
}

.banner h1 {
    font-weight: 600;
    font-size: 48px;
    z-index: 5;
}

.banner h6 {
    margin-top: 30px;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 16px;
    z-index: 5;
}

.banner p {
    margin: 5px 0px;
    font-size: 14px;
}

.btn-cta {
    font-size: 14px;
    font-weight: 600;
    border: none;
    color: #132039;
    background-color: #83D987;
    padding: 10px 20px;
}

.btn-cta:hover {
    color: #132039;
    background-color: #6EC171;
}