* {
    font-family: 'Poppins', sans-serif;
}


/* Navbar */

.navbar {
    padding: 15px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
}

.navbar-theme {
    background-color: #0F1837;
}

.nav-link {
    color: #9094A2;
    margin-right: 15px;
}

.active {
    color: #83D987 !important;
    font-weight: 600;
}


/* Banner */

.banner {
    position: relative;
    color: white;
    background-color: #0F1837;
    padding-top: 200px;
    padding-bottom: 150px;
    background-image: url(/assets/img/Union.png);
    background-repeat: no-repeat;
}

.card-menu {
    position: relative;
    color: black;
    background-color: white;
    padding: 10px 10px;
    border-radius: 0.5em;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}

.img-banner {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 0;
}

.banner h1 {
    position: relative;
    font-weight: 600;
    font-size: 48px;
    z-index: 5;
}

.banner h6 {
    position: relative;
    margin-top: 30px;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 16px;
    z-index: 5;
}

.banner p {
    position: relative;
    margin: 5px 0px;
    font-size: 14px;
}

.btn-cta {
    font-size: 14px;
    font-weight: 600;
    border: none;
    color: #132039;
    background-color: #83D987;
    padding: 10px 20px;
}

.btn-cta:hover {
    color: #132039;
    background-color: #6EC171;
}


/* Features */

.features {
    padding: 100px 20px;
    background-color: #D5D9E0;
}

.features ul {
    list-style-type: none;
}

.card-detail {
    position: absolute;
    top: 50px;
    right: 40px;
    padding-top: 15px;
    border-radius: 0.7em;
    width: 300px;
    background-color: white;
}

.card-discount {
    position: absolute;
    bottom: 40px;
    left: 50px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 0.7em;
    background-color: yellow;
    font-weight: 600;
}

.house-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.house-address {
    font-size: 16px;
    font-weight: 200px;
}

.house-price {
    color: #0A9F82;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
}

.best {
    padding: 100px 0px;
}


/* Best */

.item {
    position: relative;
}

.badge {
    font-weight: 400;
    color: #5943A6;
    position: absolute;
    top: 0px;
    font-size: 18px;
    padding: 10px 25px;
    background-color: white;
    border-radius: 0px 0px 20px 0px;
}

.item-title {
    color: #132039;
    font-size: 18px;
    margin-bottom: 3px;
}

.item-address {
    color: #132039;
    font-weight: 400;
    font-size: 14px;
}

.item-price {
    color: #0A9F82;
    margin-top: 10px;
    margin-left: 25px;
}

.view-all {
    margin-top: -50px;
}

footer {
    margin-top: 150px;
    position: relative;
    padding-top: 70px;
    padding-bottom: 20px;
    background-color: #F5F6F8;
}

.footer-menu {
    bottom: 20px;
    position: absolute;
    padding: 15px 20px;
    background: #020B2A;
    color: #FFFFFF;
    border-radius: 0.5em;
}